<div class="flex flex-col sm:flex-row sm:py-5 md:py-0 my-32 sm:my-2 bg-blue-900/10">
  <div class="flex flex-col w-full sm:w-1/2 items-center justify-center">
    <span class="font-medium text-xl text-center pb-3">Sobre nosotros</span>
    <div class="w-4/5 md:w-2/3 text-justify leading-normal md:leading-relaxed lg:leading-loose">
      En <span class="font-medium">Transportes Deluxe</span> somos una empresa con más de 17 años de experiencia trabajando para clientes de diversos rubros a quienes atendemos con total profesionalismo y hemos logrado  entender sus necesidades para así ofrecerles servicios totalmente personalizados y adaptado a su presupuesto. 
    </div>
  </div>
  <div class="w-2/3 sm:w-1/2 m-auto p-3 opacity-50 sm:opacity-100 sm:p-0">
    <img class="h-auto w-full" src="../../../assets/img/chofer.jpg" alt="Cars">
  </div>
</div>
