<div class="main-container w-full flex flex-col relative py-40 md:py-20">
  <div class="flex flex-row">
    <div class="w-full flex justify-start absolute opacity-10 -z-10 md:relative md:w-1/2 md:opacity-100">
      <img  class="pt-14 pb-7 w-auto h-96" src="https://i.ibb.co/wQJN4b9/kia-gris.png" alt="kia car">
    </div>
    <div class="w-full flex flex-col justify-center items-center md:w-1/2">
      <div class="flex flex-col gap-4">
        <div class="flex w-full justify-center items-center sm:w-80">
          <span class="monserrat text-blue-800 font-bold text-4xl text-center pl-4 pb-10">Contáctos</span>
        </div>
        <div class="flex w-full gap-8 justify-start items-center pl-0 sm:pl-10">
          <img class="w-10 h-auto object-cover" src="https://i.ibb.co/3YWxMdD/whatsapp.png" alt="Whatsapp">
          <span class="monserrat text-center  text-base font-semibold my-2 text-blue-800">(+503) 7791-9942</span>  
        </div>
        <div class="flex w-full gap-8 justify-start items-center pl-0 sm:pl-10">
          <img class="w-10 h-auto object-cover" src="https://i.ibb.co/Nst2zk6/llamada-telefonica.png" alt="Telefono">
          <span class="monserrat text-center  text-base font-semibold my-2 text-blue-800">(+503) 2263-7246</span>
        </div>
        <div class="flex w-full gap-8 justify-start items-center pl-0 sm:pl-10">
          <img class="w-10 h-auto object-cover" src="https://i.ibb.co/bmzJKZC/facebook.png" alt="facebook">
          <span class="monserrat text-center  text-base font-semibold my-2 text-blue-800">@transdeluxe</span>
        </div>
        <div class="flex w-full gap-8 justify-start items-center pl-0 sm:pl-10">
          <img class="w-10 h-auto object-cover" src="https://i.ibb.co/kSf9fdZ/outlook.png" alt="outlook">
          <span class="monserrat text-center  text-base font-semibold my-2 text-blue-800">deluxe6419@hotmail.com</span>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-card [class.mat-elevation-z24]=true class="bg-blue-900/10 text-center text-xs font-base text-blue-800 merriweather">
  &#169; 2022 - Daniel Romero | (+503) 7539-2732 - Todos los derechos reservados.
</mat-card>
